# Токен вашего бота (получите на Discord Developer Portal: https://discord.com/developers/applications)
DISCORD_TOKEN=ваштестовыйтокен

# Опционально: уровень логирования (info, error)
LOG_LEVEL=info
